<footer>
<div class="top-footer">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="footer-1">
			<h2>SIGN UP FOR EMAIL OFFERS & UPDATES</h2>
				<form>
				  <input type="email" name="emailaddress">
				  <input type="submit">
				</form>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="footer-1">
				<ul class="footer-icon">
			<h2>CONNECT WITH US</h2>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="footer-1">
			<h2>SECURE ORDERING & TRANSACTIONS</h2>
				<div class="visa-icon">
					<img src="/assets/visa-icon.png">
				</div>
			</div>
		</div>		
		
		</div>
	</div>
	</div>
	
<div class="bottom-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="bottom-link">
					<li><a href="#">About Us</a></li>
					<li><a href="#">FNP Team</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Testimonials</a></li>
					<li><a href="#"> Terms & Conditions</a></li>
					<li><a href="#"> Disclaimer</a></li>
					<li><a href="#">Terms Of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Retail Stores</a></li>
					<li><a href="#">Franchise</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Affiliate Program</a></li>
					<li><a href="#">Flower Astrology</a></li>
					<li><a href="#">News Room</a></li>
					<li><a href="#">Download App</a></li>
					<li><a href="#">Article Hub</a></li>
					<li><a href="#">Quotes N Wishes</a></li>
					<li><a href="#">Decoration Services</a></li>
					<li><a href="#">Care Guide</a></li>
					<li><a href="#">HTML sitemap</a></li>
				</ul> 
				
				<p>Copyright © 2019 www.fnp.com. All rights reserved.</p>
				
			</div>			
		</div>
	</div>
</div>		
</footer>