<div class="row">
  <div class="col-lg-12 offset-lg-3">
    <div class="well bs-component">
      <fieldset>
        <legend>Add Ons <%= link_to 'Add AddOn', new_admin_add_on_path, class: 'btn btn-primary btn-sm custom'%>
        </legend>
        <table class="responsive nowrap table table-hover" id="dttb-add_ons" data-sort="true" data-source="<%= admin_add_ons_url(format: :json)%>">
          <thead>
            <tr>
              <th data-data="name">Name</th>
              <th data-data="price">Price</th>
              <th data-data="sub_category_id">Sub category</th>
              <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
            </tr>
          </thead>
        </table>
      </fieldset>
    </div>
  </div>
</div>