<h1>Editing Shipping Method</h1>

<%= render 'form', shipping_method: @shipping_method %>

<%= link_to 'Show', admin_shipping_method_path(@shipping_method) %> |
<%= link_to 'Back', admin_shipping_methods_path %>
