<style type="text/css">
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: -1px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }
  input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  .saved-address--list {
    width: 100%;
    float: left;
  }
  .datepicker-inline {
    width: 324px !important;
  }
  .datepicker,
  .table-condensed {
    width: 300px;
    height:300px;
  }
  .del-method-btn{
   float: right;
   margin: 0 28px 0 0;
   border-radius: 0 3px 3px 0;
   height: 50px;
   width: 15%;
   color: #fff;
   background-color: #009d43;
   padding: .6em .3em;
   display: inline-block;
   text-align: center;
 }
 .delcost{
   text-decoration: none;
   font-size: 13px;
   margin-top: 10px;
   font-weight: 600;
   text-align: center;
   display: inline-block
 }
 #infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 178px;
  height: 39px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li.saved-address.selected {
  background: #fff9d8;
}
.saved-address--list li.saved-address {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  padding: 15px 15px 15px 40px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  transition: all .25s ease-in-out;
  list-style: none;
}

.saved-address--list .check {
  position: absolute;
  left: 0;
  top: 0;
  color: #666;
}

.saved-address--list .saved-address--details {
  font-size: 16px;
  text-align: left;
  padding: 0;
  font-weight: 500;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saved-address--list p.address {
  padding: 10px 0;
  font-size: 14px;
  line-height: 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.gift-header {
  background: #00994f;
  padding: 5px 47px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  line-height: 2.8;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

</style>
<div class="inner-page-content0" id ="checkout-cart"style="padding-top: 100px;">
  <%= render(:partial => 'cart') %>
</div> 
