<div class="row">
	<div class="col-lg-12 offset-lg-3">
		<div class="well bs-component">
			<h3>Editing Sub Category</h3>

			<%= render 'form', sub_category: @sub_category %>

			<%= link_to 'Show', admin_sub_category_path(@sub_category) %> |
			<%= link_to 'Back', admin_sub_categories_path %>
		</div>
	</div>
</div>