<div class="inner-page-content0">

	<div class="my-acount-deatils">
		<div class="container" style="width: 85%;">
			<div class="row">
				<%= render 'my_account_sidemenu'%>

				<div class="col-md-8">
					<div class="profile-edit-0details">
						<h1>My Profile</h1>
						<div class="edit-0details">
							<%= form_for(@profile, url: change_password_path) do |f|%>

								<div class="form-control">
									<label for="pass">Current Password</label>
									<input type="password" id="pass" name="password"
									minlength="8" required>
								</div>
								<div class="form-control">
									<label for="pass">New Password</label>
									<input type="password" id="pass" name="password"
									minlength="8" required>
								</div>							
								<div class="form-control">
									<label for="pass">Verify New Password</label>
									<input type="password" id="pass" name="password"
									minlength="8" required>
								</div>							
								<div class="save-profile1">
									<%= f.button 'Save', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait...."} %>
									<%= link_to 'Cancel', my_account_path, class: 'btn btn-default'%>			
								</div>

							<%end%>					
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>