<div class="inner-page-content0">

	<div class="my-acount-deatils">
		<div class="container" style="width: 85%;">
			<div class="row">
				<%= render 'my_account_sidemenu'%>
				<div class="col-md-8">
					<div class="account-person-detalis">
						<h1>My Profile</h1>
						<div class="person-info-1">
							<span><p>Name:</p><%= @profile.name%></span>
							<span><p>Mobile No:</p><%= @profile.phone%></span>
							<span><p>Email ID:</p><%= @profile.email%></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
